body {
    background-color: lightblue;
  }

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo h2 {
    color: #ecf0f1;
    font-size: 1.5rem;
}